{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Just-Do-It</title>
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/bucketlist.css' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Just-Do-It !</a></h1>
    </div>

    <div class="content">
        <h1><a href="">We could go to Rio</a></h1>
        <p>Rio Things!!</p>
    </div>

</body>
</html>