{% extends 'bucketlists/base.html' %}
{% load bootstrap_tags %}
{% block navbar %}
<nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand waves-effect waves-light" href="/bucketlists">Just-Do-It!</a>
  </div>
</div>
</nav>
{% endblock%}
{% block content%}
<div>
    <div class="col-sm-3 sidenav">
      <div class="profile">
        <i class="fa fa-user fa-5x"></i>
        <h4>Hey {{user.username}}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li class="list-group-item"><a href="/bucketlists/">My Bucketlists</a></li>
        </ul><br>
    </div>
    <div class="col-md-9">
        <div class="col-md-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">{{ bucketlist.name }}</span>

                    <div class="todolist not-done">
                        <form role="form" action="/bucketlists/{{bucketlist.id}}/items/" method="post">

                            {% csrf_token %}
                            <div class="item-input">

                                {{ bucketlistform|as_bootstrap }}

                                <input type="submit" value="Add" class="btn btn-primary">

                            </div>

                        </form>
                        <hr>
                        {% if not items %}
                        <div>No item currently in the {{ bucketlist.name }}</div>
                        {% endif %}
                        <ul id="sortable" class="list-unstyled">
                            {% for item in bucketitems %}
                            <li class="ui-state-default">
                                <div class="checkbox">
                                    <label><a href="/bucketlists/{{ bucketlist.id }}/items/{{ item.id }}/status/"><input
                                        type="checkbox" value="" {% if item.done %} checked {% endif %}
                                        onclick='window.location.assign("/bucketlists/{{ bucketlist.id }}/items/{{ item.id }}/status/")'/>{{ item.name }}
                                    </a></label>
                                    <a href="/bucketlists/{{ bucketlist.id }}/items/{{ item.id }}/"
                                    class="delete-item"><span class="glyphicon glyphicon-trash text-muted c-info"
                                    data-toggle="tooltip" title="Delete"></span></a>
                                    <a data-action="/bucketlists/{{ bucketlist.id }}/items/{{ item.id }}/"
                                    href="#edit-bucket" data-toggle="modal" data-placement="top"
                                    class="edit-link"><span class="glyphicon glyphicon-pencil text-muted c-info"
                                    data-toggle="tooltip" title="Edit"></span></a>
                                </div>
                            </li>

                            {% endfor %}

                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}