{% extends 'bucketlists/base.html' %}
{% load bootstrap_tags %}
{% block navbar %}
  {% include "bucketlists/partials/navbar.html" %}
{% endblock%}
{% block content %}
<div class="row content">
  <div class="col-sm-12">
    <h4 class="pull-left">My bucketlists</h4></span>
    <a class="btn btn-default bucketadd pull-right" id="all_bucketlists"><i class="fa fa-plus left"></i>Add new bucketlist</a>
    <div class="row clear-both">
      <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} flash-message" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% if not buckets %}
        <div class="well panel-default">
          <h3>No bucketlists here yet! &#9785;</h3>
        </div>
        {% endif %}
      </div>
      <!-- view all bucketlists -->
      <div class="card-columns">
        {% for bucketlist in buckets %}
        <div class="col-md-4 bucket-card">
          <div class="card card-block view">
            <div class="card-content text-center">
              <h4>{{ bucketlist.name }}</h4>
              <small><em> Updated {{ bucketlist.updated_at | timesince }} ago</em></small>
            </div>
            <div class="mask">
              <div class="verticalcenter">
                <div class="white-text text-center">
                  <div class="row card-with-options">
                    <div class="col-xs-4 button-edit">
                      <!--Edit bucketlist icon-->
                      <a data-action="/bucketlists/{{bucketlist.id}}/edit/" href="#modal{{bucketlist.id}}" data-toggle="modal">
                        <i class="fa fa-pencil">&nbsp;</i>
                        Edit
                      </a>
                    </div>
                    <div class="col-xs-4 button-delete">
                      <!--Delete bucketlist icon -->
                      <a href="#"  id="deleteBucket" data-placement="top">
                        <i class="fa fa-trash">&nbsp;</i>
                        Delete
                      </a>
                    </div>
                    <div class="col-xs-4 button-view">
                      <!--View and Add items to bucketlist-->
                      <a href="{% url 'bucketlistitems_get' pk=bucketlist.pk %}"  title="" >
                        <i class="fa fa-eye">&nbsp;</i>
                        View
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Edit existing bucketlist modal -->
        <div id="modal{{bucketlist.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Bucketlist Name</h4>
              </div>
              <div class="modal-body">
                <div class="bucketlistform">
                  <form role="form" action="/bucketlists/{{bucketlist.id}}/edit/" method="post">
                    <fieldset>
                      {% csrf_token %}
                      <input type="text" name="name" value="{{ bucketlist.name }}" required="True">
                      <input type="submit" value="Update" class="btn btn-primary">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Delete bucketitem modal-->
        <div class="modal fade" id="deleteBucketlistModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete bucketlist</h4>
              </div>
              <div class="modal-body">
                <h6>Are you sure?</h6>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
                <a href="{% url 'single_bucketlist_delete' pk=bucketlist.pk %}" class="btn btn-danger modal-delete-btn">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--Create a new bucketlist-->
      <div class="modal fade" id="newbucketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">New Bucketlist</h4>
            </div>
            <div class="modal-body">
              <div class="bucketlistform">
                <form role="form" action="/bucketlists/" method="post">
                  <fieldset>
                    {% csrf_token %}
                    {{ bucketlistform|as_bootstrap }}
                    <div class="form-group">
                     <button type="submit" class="btn btn-primary" value="Add">Add</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                   </div>
                 </fieldset>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock %}
