{% extends 'bucketlists/base.html' %}
{% load bootstrap_tags %}
{% block navbar %}
<nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand waves-effect waves-light" href="/bucketlists">Just-Do-It!</a>
    </div>
  </div>
</nav>
{% endblock%}

{% block content %}
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div class="profile">
        <i class="fa fa-user fa-5x"></i>
        <h4>Hey {{user.username}}</h4>
        <a href="{% url 'logout' %}" class="btn btn-info">Logout</a>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <button class="accordion">My Bucketlists</button>
        <div class="panel">
          {% for bucketlist in buckets %}
          <li><a class="" href="{% url 'bucketlistitems_get' pk=bucketlist.pk %}">{{ bucketlist.name }}</a></li>
          {% endfor %}
        </div>
        <li class="list-group-item" id="all_bucketlists"><a href="#">Create a new bucketlist</a></li>
      </ul><br>
    </div>
    <div class="col-sm-9 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
                        {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
      <!-- view all bucketlists -->
      <div class="card-columns">
        {% if not buckets %}
        <div class="empty-list">No bucketlists yet!</div>
        {% endif %}
        {% for bucketlist in buckets %}
        <div class="col-md-4">
          <div class="card card-block view overlay hm-blue-light">
            <div class="card-content text-center">
              <h4><a class="" href="{% url 'bucketlistitems_get' pk=bucketlist.pk %}">{{ bucketlist.name }}</a></h4>
            </div>
            <div class="mask">
              <div class="verticalcenter">
                <div class="white-text text-center">
                    <!--Edit bucketlist icon-->
                    <a data-action="/bucketlists/{{bucketlist.id}}/edit/" href="#modal{{bucketlist.id}}" data-toggle="modal" data-placement="top" class="edit-link" data-original-title="Edit bucketlist"><i class="fa fa-pencil fa-lg"></i></a>

                    <!--Delete bucketlist icon -->
                    <a href="#" data-toggle="tooltip" id="deleteBucket" data-placement="top" title="" data-original-title="Delete bucketlist"><i class="fa fa-trash fa-lg"></i></a>

                    <!--View and Add items to bucketlist-->
                    <a class="" href="{% url 'bucketlistitems_get' pk=bucketlist.pk %}"
                     data-toggle="tooltip" data-placement="top" title="" data-original-title="View bucket items"><i class="fa fa-eye fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Edit existing bucketlist modal -->
        <div id="modal{{bucketlist.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Bucketlist Name</h4>
              </div>
              <div class="modal-body">
                <div class="bucketlistform">
                  <form role="form" action="/bucketlists/{{bucketlist.id}}/edit/" method="post">
                    <fieldset>
                      {% csrf_token %}
                      <input type="text" name="name" value="{{ bucketlist.name }}">
                      <input type="submit" value="Update" class="btn btn-primary">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Delete bucketitem modal-->
        <div class="modal fade" id="deleteBucketlistModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Delete bucketlist</h4>
              </div>
              <div class="modal-body">
                <h6>Are you sure?</h6>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="{% url 'single_bucketlist_delete' pk=bucketlist.pk %}" class="btn btn-danger modal-delete-btn">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--Create a new bucketlist-->
      <div class="modal fade" id="newbucketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">New Bucketlist</h4>
            </div>
            <div class="modal-body">
              <div class="bucketlistform">
                <form role="form" action="/bucketlists/" method="post">
                  <fieldset>
                    {% csrf_token %}
                    {{ bucketlistform|as_bootstrap }}
                    <div class="form-group">
                     <button type="submit" class="btn btn-primary" value="Add">Add</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                   </div>
                 </fieldset>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
{% endblock %}
