<!DOCTYPE html>
<html>
<head>
    <title>Just-Do-It</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
     <div>
        <h1><a href="">My bucketlists</a></h1>
    </div>

    <div>
            <h2><a href="">We could go to Rio</a></h2>
            <p>Rio Things!!</p>
    </div>
    <h3>Let's do this thing!</h3>
</body>
</html>