{% extends 'bucketlists/base.html' %}
{% load bootstrap_tags %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Flash messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}    
            {% endif %}
        </div>
        <div class="col-sm-7">
            <h1 id="title">Just-Do-It!</h1>
        </div>

        <div class="col-sm-5">
            <!-- Registration form -->
            <div class="registration-form">
                <form class="form-horizontal" action="/register" method="post">
                    <fieldset>
                        {% csrf_token %}
                        {{ registrationform|as_bootstrap }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- Login form -->
            <div class="login-form">
                <form class="form-horizontal" action="/register" method="post">
                    <fieldset>
                        {% csrf_token %}
                        {{ loginform|as_bootstrap }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
