/*Static styling*/

h1 {
    font-size: 5em;
    color: #4CAF50;
}

body {
    background: url('../img/concrete_seamless.png');
}

img {
    max-width: 150px;
}

.main {
    position: absolute;
    top: 0px;
    width: 100vw;
    padding: 3% 5%;
}

.alert {
    color: #000;
}

.tooltip > .tooltip-inner {
    padding: 15px;
    font-size: 12px;
}


/*End of static styling*/


/*Dashboard specific styling*/

.verticalcenter {
    top: 80%;
}

label {
    color: green;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.modal-title {
    color: green;
    margin: 0;
    line-height: 1.42857143;
}

.well {
    margin-left: 0px;
    background-color: rgba(255,255,255,.84);
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 5% auto;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.fa-sign-out {
    color: #FFFFFF
}


/*End of dashboard styling*/


/*All bucketlists view styling*/

h4 {
    text-align: center;
    color: #727272;
    font-size: 22px;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row.content {
    min-height: 100vh;
    padding-top: 50px;
    margin-top: 10px;
}

.card {
    height: 200px;
}

.card .card-content {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar {
    background-color: #4CAF50;
}

.navbar-collapse li{
    vertical-align: bottom: ;
    color: white !important;
}

a.data-content {
    font-size: 10px;
}

.board {
    border: 1px solid rgba(76, 175, 80, 0.43);
    background-color: #eee;
    margin-top: 60px;
}

#buckets {
    background-color: #CCC;
    height: 200px;
    margin-left: 20%
}

.card-with-options > div[class*="col-xs"] {
    padding: 4% !important;
    vertical-align: bottom;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    cursor: pointer;
}

.card-with-options > div[class*="col-xs"]:last-child {
    border-right: none;
}

.card-with-options > div[class*="col-xs"]:hover {
    background-color: #4CAF50;
}

.card-with-options > div[class*="col-xs"].button-view:hover {
    background-color: #4285F4;
}

.card-with-options > div[class*="col-xs"].button-edit:hover {
    background-color: #4CAF50;
}

.card-with-options > div[class*="col-xs"].button-delete:hover {
    background-color: #F44235;
}

.card-with-options > div[class*="col-xs"]:hover a {
    color: white !important;
}

.card-with-options > div[class*="col-xs"]:hover i {
    color: white !important;
}

.card-with-options a {
    color: #727272;
}

.card-with-options a:hover {
    color: #4CAF50;
}

.bucket-card .verticalcenter {
    top: 88% !important;
}

.bucket-card .card-content {
    padding-bottom: 0 !important;
}

.bucketadd {
    background: #4CAF50;
}

.clear-both {
    clear: both;
}

.board .back {
    color: #4285F4;
}

.item .fa {
    padding-right: 20px;
}

.board .fa-trash:hover {
    color: #F44235;
}
/*End of all bucketlists view*/
