/*Static styling*/
h1, h5, .h1 {
    font-size: 80px;
    font-family: cursive;
    margin-top: 200px;
    color: #1B1744;
}

h5 {
    font-size: 80px;
    font-family: cursive;
    color: #1B1744;
}

body {
    padding-left: 15px;
    /*background: url(../img/enjoying-life.jpg) no-repeat center center fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
}
/*End of static styling*/

/*Dashboard specific styling*/
.btn {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 0px !important;
    padding: 10px 15px;
    margin-top: 30px;
}

.container {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f8f8f8;
    background-size: cover;
    text-align: center;
    height: auto;
}

label {
    color: green;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.modal-title {
    color: green;
    margin: 0;
    line-height: 1.42857143;
}
/*End of dashboard styling*/

/*All bucketlists view styling*/
h4.title {
  text-align: center;
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.btn.btn-md {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 100px;
}
.row.content {height: 1500px}

.sidenav {
  background-color: #f1f1f1;
  height: 300px;
  padding: auto;
  margin-top: 30px;
}

.card {
    width: 500px;
    height: 200px;
}

.card .card-content {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
}

h5, h6 {
    font-family: cursive;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-top: 50px;
}

a.btn-small {
    margin-left: 100px;
}

.btn-success:not(.btn-link):not(.btn-flat) {
    margin-top: 0px;
    background-color: #4caf50;
    color: rgba(255,255,255,.84);
}

.panel-heading {
    margin-top: 30px;
    margin-bottom: auto;
}

.fa {
    margin-top: 80px;
    display: inline-block;
}
/*End of all bucketlists view*/