/*Static styling*/
h1, h5, .h1 {
    font-size: 80px;
    font-family: cursive;
    margin-top: 200px;
    color: #DDD;
}

h5 {
    font-size: 80px;
    font-family: cursive;
    color: #DDD;
}

body {
    background-color: #000;
}

.background {
    background: url(../img/enjoying-life.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    opacity: 0.5;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  opacity: 0.5;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.main {
    position: absolute;
    top: 0px;
    width: 100vw;
    padding: 0 20px;
}

/*End of static styling*/

/*Dashboard specific styling*/
.verticalcenter {
    top: 80%;
}

label {
    color: green;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.modal-title {
    color: green;
    margin: 0;
    line-height: 1.42857143;
}
/*End of dashboard styling*/

/*All bucketlists view styling*/
h4 {
  text-align: center;
  color: #222;
  font-family: Monospace;
  font-size: 18px;
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.btn.btn-md {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 100px;
}

.row.content {
    min-height: 100vh;
    padding-top: 50px;
    margin-top: 10px;
}

.sidenav {
  background-color: #f1f1f1;
  padding: auto;
  top: 60px;
}

.profile {
    text-align: center;
}

.profile .fa {
    margin-top: 10px;
    color: #009688;
}

.card {
    height: 200px;
}

.card .card-content {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
}


a.btn-small {
    margin-left: 100px;
}

.panel-heading {
    margin-top: 30px;
    margin-bottom: auto;
}

.navbar {
    height: 50px;
    background-color: #009688;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.data-content {
    font-size: 10px;
}

.panel-default {
    background-color: #eee;
    margin-top: 60px;
}
/*End of all bucketlists view*/

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

/*Style the accordion panel. Note: hidden by default*/
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    transition: 0.6s ease-in-out;
}

 /*The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content*/
div.panel.show {
    display: block !important;
    transition: 0.6s ease-in-out;
}

#sortable {
    padding-left: 20px;
}